// .home {
// 	#container {
// 		.header {
// 		position: fixed;
// 		z-index: 9999;
// 		margin: 0 auto;
// 		width: 100%;
// 		}
//
//     #content {
//       margin:0;
//     }
// 	}
// }
//
// #featured-image-home-container {
// 	height: 700px;
// }
//
// #featured-image-home {
// 	position: relative;
// 	background-size: cover;
// 	background-repeat: no-repeat;
// 	background-position: top;
// 	overflow: hidden;
// 	width: 100%;
// 	height: 100%;
// }
