#learn-intro {
  margin-bottom: 2em;
}

.page-template-page-workshops {
  h3 {
    margin-bottom: 1em;
  }
  .article-preview {
  	margin-bottom: 1.5em;
  }
}

#workshops {
  // background-color: $white;
  // padding: 1em;
}
