/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.wrap {
  width: 1200px;
}

/*********************
WOOCOMMERCE
*********************/
ul.products {
	
		.grid-sizer {
			width: 25%;
		}	
		li.product {
			width: 25%;
			margin-bottom: 2.25em;
		}
	}

//end woocommerce