/*********************
HEADER STYLES
*********************/

nav[role=navigation] {
	//clear: both;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.js nav[role=navigation] {
	overflow: hidden;
	max-height: 0;
}
nav[role=navigation].active {
	max-height: 15em;
}
nav[role=navigation] ul {
	margin: 0;
	padding: 0;
}
nav[role=navigation] li a {
	display: block;
	padding: 0 1em;
}

#inner-header {
	border-bottom: 1px solid $purple;

	text-align: left;
	margin: 75px auto 0;
	padding: 0;
	height: 55px;
}

#inner-header-top {
	text-align: right;
	margin-top: 4px;
	padding-right: .9em;

}

#menu {
	float: right;
	margin: 0;
	padding-top: 5px;

	ul {
		padding: 0;
		margin: 0;
	}
}

#logo {
	margin-right: 20px;
	float: left;
	font-family: $caps;
	font-size: 24px;
	padding-left: .8em;

	display: inline-block;

	.psa {
		visibility: hidden;
	}

	a {
		 color: $text-color;
	}
}

a.menu-link {
	display: block;
	float: right;
	padding: 1em;
}

/*********************
NAVIGATION STYLES
*********************/


.top-nav {
	float: left;
	font-size: 20px;
	clear: both;
	transition: all 0.3s ease-out;

	ul {
		padding: 0px;
		margin: 0px;
		list-style: none;
		position: relative;
		display: inline-table;

		li {
			padding: 0;
			display: inline-block;

			a {
				display: block;
				height: 60px;
				padding: 20px 12px;
			}
		}
	}

}

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: $text-color;
			text-decoration: none;
			padding: 1em;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {}
			&:active {
				color: $purple;
			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor,
	li.current_page_parent {

		a {
			color: $purple;
		}

	}  /* end current highlighters */

} /* end .nav */
