.related-posts {
    // @include full-width(#333);
    background-color: $background-shade;
  	padding: 1.15em;
}

.related-post {
	margin-bottom: 3em;

	// h2 {
	// 	margin-top: 0;
	// 	margin-bottom: .1em;
  //
	// 	a {color: $text-color;}
	// }

	// #excerpt-more {
	// 	font-size: 16px;
	// }
  //
	// #intro {
	// 	font-size: 16px;
	// 	margin: 0;
	// }

	.byline {
		margin-bottom: 0.125em;
	}
}

#read-next {
	background-color: $background-shade;
	padding: 2em;
}

.related-post-image {
	img {width: 100%;}
}

.article-footer {
	margin-top: 2em;
	margin-bottom: 3em;
}

.footer {
	clear: both;
	background-color: $white;
  font-size: 14px;
  font-family: $sans-serif;
	/*margin-top: 4em;*/
}
