/*single post*/
.featured-image-wrap {
	text-align: center;
}
.featured-image {
	position: relative;
	display: inline-block;
	margin-bottom: 1em;

		img {
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 800px;
			vertical-align: top;
		}
}

.featured-image-caption {
	display: block;
	font-family: "scalasansregular";
	color: darken($gray-text, 10%);
	font-size: 14px;
	text-align: right;
	z-index: 300;
	max-width: 100%;

		@include breakpoint($bp-medium) {
			background: none;
			position: relative;
			padding-bottom: 50px;
		}

		#caption {
			display: inline-block;
			text-align: left;
			position: absolute;
			top: 17px;
			right: 60px;
			line-height: 1.25em;
		}

		#price {
			display: inline-block;
			position: absolute;
			top: 20px;
			right: 0;

			a {
				border: 1px solid $light-purple;
				border-radius: 2px;
				padding: 6px 8px;
				color: $purple;

				&:hover, &:focus {
					border-color: $purple;
				}
			}

			@include breakpoint($bp-medium) {

			}
		}
}

.image-caption {
	color: lighten($gray, 30%);
	font-family: "scalasansregular";
	font-size: .545em;
	text-align: left;
	margin-top: 5px;
	//top: -20px;
	//max-width: 80%;
}

.post-image {
	width: 80%;
	margin-bottom: 60px;
	padding-top: 30px;
}

.demo {

	//width: 100%;

	hr {
		padding: 25px 0;
		margin: 0px;
		border: none;
	}

	.demo-image {
		float: left;
		margin-right: 0px;

		img {
			max-width: 300px;
		}
	}

	.demo-text {
		float: left;
		//margin-left: 10px;
		font-size: .7em;
		max-width: 380px;
		padding-left: 25px;
	}
}

.spacer {
	margin-top:70px;
	margin-bottom:60px;
}

hr {
	clear: both;
	display: block;
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0,0,0,0.05);
	border-bottom: 1px solid rgba(255,255,255,0.01);

}
