/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

button:focus {outline:0 !important;}

%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  color: $white;
  font-size: 18px;
  line-height: 50px;
  font-weight: normal;
  padding: 0px 20px;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  @include transition(background-color 0.14s ease-in-out);
  @include transition(border-color 0.14s ease-in-out);

  &:hover, &:focus {
    color: $white;
    text-decoration: none;
  }

  &:active {
    // top: 1px;
  }

}


input[type="submit"] {
  @extend %btn;
  background-color: $purple;

  &:hover,
  &:focus {
    background-color: darken($purple, 4%);
  }

  &:active {
    background-color: darken($purple, 5%);
  }
}

.alt {
  @extend %btn;
  background-color: $purple;

  &:hover,
  &:focus {
    background-color: darken($purple, 4%);
  }

  &:active {
  background-color: darken($purple, 5%);
  }

}

.secondary {
  @extend %btn;
  background-color: $background;
  border: 1px solid $light-purple;
  color: $purple;

  &:hover,
  &:focus {
    border-color: $purple;
    color: $purple;
  }

  &:active {
  background-color: darken($purple, 5%);
  }

}
