a {
  #read-next, #related-posts {
    color: $text-color;
    @include transition(all .3s ease);
    &:hover {
      background-color: darken($background-shade, 2%);
      color: darken($text-color, 9%);
    }
  }

}

#read-next, #related-posts {
	background-color: $background-shade;
	padding: 2em 0;

  @include breakpoint($bp-large) {
    padding: 2em;
  }
}

#related-posts {
  a {
    &:hover {
      color: darken($text-color, 9%);
    }
  }
}

.article-footer {
	margin-top: 2em;
	margin-bottom: 3em;
}

.footer {
	clear: both;
	background-color: darken($text-color, 10%);
  color: $white;
  font-size: 14px;
  font-family: $sans-serif;
  text-align: center;

  #inner-footer {
    padding-top: 50px;
    padding-bottom: 30px;

    nav {
      // display: inline-block;
      // position: relative;
      // left: -16px;
      a {
        color: $white !important;
      }
    }
  }

  .copyright {
    background-color: darken($text-color, 13%);
    opacity: .7;
    width: 100%;
    padding: 20px;
  }
}
