.popover {
  display: none;
  background-color: $white;
  width: auto;
  position: absolute;
  z-index: 999;
  outline: 0;
  bottom: 60px;
  padding: 30px;
  border: 1px solid $light-gray;
  font-family: $sans-serif;
  text-align: center;

  a {
    color: $text-color;
    &:hover {
      color: darken($text-color, 9%);
    }
  }
  ul {
    margin: 0;
  }
}
