h3 {
  margin-bottom: 1em;
}

.email {
  display: inline-block !important;
}

#mc_embed_signup {
  padding-bottom: 30px;
  input.email {
    box-sizing:border-box;
    margin-right:6px;
    display: inline-block;
    margin: 0;
    width: 100%;
    vertical-align:top;
    border-color: $gray-text !important;

    @include breakpoint($bp-medium) {
      width: 350px;
    }
  }
  // .button {
  //   box-sizing:border-box;
  //   padding:0 18px; display:
  //   inline-block; margin: 0;
  //   transition: all 0.23s ease-in-out 0s;
  // }
}

#mce-email {
  border: none;
}

#subscribe {
  display: inline-block;
  margin-left: 4px;

  @include breakpoint($bp-medium) {
    margin-top: 8px;
    margin-top: 0;
  }
}

#inner-footer input[type="email"] {
  width: 60% !important;
}
