/******************************************************************

Stylesheet: Typography

******************************************************************/


// font stacks
$sans-serif:        "scalasansregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "scalaregular", "Georgia", Cambria, Times New Roman, Times, serif;
$bold:				"scalabold";
$caps:				"scala_capsregular";
$italic:			"scalaitalic";

@font-face {
    font-family: 'scalabold';
    src: url('../fonts/scala-bold-webfont.eot');
    src: url('../fonts/scala-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/scala-bold-webfont.woff') format('woff'),
         url('../fonts/scala-bold-webfont.ttf') format('truetype'),
         url('../fonts/scala-bold-webfont.svg#scalabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'scalaitalic';
    src: url('../fonts/scala-italic-webfont.eot');
    src: url('../fonts/scala-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/scala-italic-webfont.woff') format('woff'),
         url('../fonts/scala-italic-webfont.ttf') format('truetype'),
         url('../fonts/scala-italic-webfont.svg#scalaitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'scalaregular';
    src: url('../fonts/scala-webfont.eot');
    src: url('../fonts/scala-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/scala-webfont.woff') format('woff'),
         url('../fonts/scala-webfont.ttf') format('truetype'),
         url('../fonts/scala-webfont.svg#scalaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'scala_capsregular';
    src: url('../fonts/scalacaps-webfont.eot');
    src: url('../fonts/scalacaps-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/scalacaps-webfont.woff') format('woff'),
         url('../fonts/scalacaps-webfont.ttf') format('truetype'),
         url('../fonts/scalacaps-webfont.svg#scala_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'scalasansregular';
    src: url('../fonts/scalasans-webfont.eot');
    src: url('../fonts/scalasans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/scalasans-webfont.woff') format('woff'),
         url('../fonts/scalasans-webfont.ttf') format('truetype'),
         url('../fonts/scalasans-webfont.svg#scalasansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-break: break-all;
  -ms-word-wrap: break-all;
      word-break: break-word;
     word-break: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}
