.chunk_image {
}

.chunk_image_caption {
	display: inline-block;
}

.chunk_image img {
	max-width: 100%;
	height: auto;
	width: auto;
	display: block;
	margin: 0 auto;
}

.chunk_image--center {
	width: 100%;
}

.chunk_image--left {
	width: 45%;
	float: left;
	margin: 0 1.5em 1.5em 0;

	.chunk_image_float {
	 // display: inline-block;
	 float: none;
	}
}

.chunk_image--right {
	width: 45%;
	float: right;
	margin: 0 0 1.5em 1.5em;

	.chunk_image_float {
	 // display: inline-block;
	 float: none;
	}
}

.chunk_image--center-outset {
	width: 100%;

	@include breakpoint($bp_large) {
		width: 1030px;
		max-width: 1030px;
		float: left;
		margin-left: -200px;
		margin-bottom: 1.5em;
	}

	.outset-center-float-con {
		text-align: center;
	}

	.chunk_image_float {
	 display: inline-block;
	 margin: 0 auto;
	 text-align: left;
	}
}

.chunk_image--left-outset {
	width: 100%;

	img {
		float: left;
	}

	.chunk_image_float {
		float: none;
	}

	@include breakpoint($bp_medium) {
		max-width: 520px;
		margin: 0 auto;

		.chunk_image_float {
		 display: inline-block;
		 float: none;
		 max-width: 520px;
		}
	}

	@include breakpoint($bp_large) {
		max-width: 550px;
		max-height: 666px;
		float: left;
		margin: 0 1.5em 1.5em -200px;

		.chunk_image_float {
		 display: inline-block;
		 float: right;
		 max-width: 550px;
		}

		img {
			float: right;
		}
	}



}

.chunk_image--right-outset {
	width: 100%;

	.chunk_image_float {
		float: none;
	}

	img {
		float: left;
	}

	@include breakpoint($bp_medium) {
		max-width: 520px;
		margin: 0 auto;

		.chunk_image_float {
		 display: inline-block;
		 float: none;
		 max-width: 520px;
		}
	}

	@include breakpoint($bp_large) {
		max-width: 550px;
		max-height: 666px;
		float: right;
		margin: 0 -200px 1.5em 1.5em;

		.chunk_image_float {
		 display: inline-block;
		 float: left;
		 max-width: 550px;
		}
	}
}
