// .wrap {
// 	width: 96%;
// 	margin: 0 auto;
// }

.wrap {
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	padding: 20px;

	@include breakpoint($bp_medium) {
		max-width: 768px;
		padding: 0 79px;
	}
	@include breakpoint($bp_large) {
		max-width: 1030px;
		padding: 0 200px;

		// .section-core-values &,
		// .section-tags & {
		// max-width: 1030px;
		// padding: 0 50px;
		// }
	}
	@include breakpoint($bp_x-large) {
		max-width: 1400px;
		padding: 0 385px;

		// .section-core-values &,
		// .section-tags & {
		// max-width: 1400px;
		// padding: 0 235px;
		// }
	}
}
